@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@200;300;400;600;700&display=swap");

/* 
  color: #1F2A44;
  background-color: #f4f7fb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  color: #0DACAC;
*/

:root {
  --white: #fff;
  --base-shadow: rgba(0, 0, 0, 0.25);
  --blue-bright: #0dacac;
  --blue-medium: #007b9e;
  --blue-dark: #1f2a44;
  --white-bg: #f4f7fb;
  --base-radius: 10px;
  --gray-light: #ebebeb;
  --gray-medium: #b0b0b0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white-bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
